@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #222;
  color: #aaa;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body:hover {
  cursor: default;
}

body::-webkit-scrollbar {
    display: none;
}

a {
  color: #aaa;
  text-decoration: none;
}

.news-item h4 {
  text-decoration: underline;
}

.news-item:hover h4 {
  text-decoration: none;
}

::selection {
  background-color: transparent;
}

h2, h3, h4, p {
  font-weight: 500;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 800;
  font-size: 300px;
  text-transform: uppercase;
  color: green;
}

h2 {
  font-size: 90px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 0em;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  margin-block-start: 0em;
  margin-block-end: 0.2em;
}

p {
  font-size: 15px;
}

.card {
  background-color: #333;
  width: 516px;
  border: 15px solid #ddd;
  margin: auto;
  margin-bottom: 7vh;
  text-align: left;
  padding-left: 25px;
  align-self: flex-start;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-align: top;
}


header {
  height: 100vh;
  display: relative;
}

.dec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  h1 {
    font-size: 25vw;
  }
  h2 {
    line-height: 0.7em;
    font-size: 45px; 
  }
}
